body {
    margin: 12pt;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12pt;
}

input {
    width: 100pt;
    max-width: 40%;
}

div.row {
}

span.isto {
    opacity: 0.75;
}

div.as {
    margin-left: 24pt;
    opacity: 0.75;
}

div.row {
    margin-top: 12pt;
    margin-bottom: 12pt;
}

#results {
    width: 100pt;
    max-width: 40%;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: text-top;
}

li {
    list-style: none;
}

span.score {
    float: right;
}

input:invalid {
    border: 2px solid red;
}
